{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
    {{ super() }}

    <p>This is a an Computer vision based page where we are going to create cool apps and host it using<a href="http://flask.pocoo.org/">Flask</a> framework.</p>
    <p>The main purpose is to introduce how to create cool computer vision applications with Flask</p>
    <p>while we create apps for you, please enjoy the video.</p>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/YQHsXMglC9A" frameborder="0" allowfullscreen></iframe>


{% endblock %}
